.git
.github
.env
deploy/.env
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/audit-archive
bootstrap/cache/*.php
docs
coverage.xml
