<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
            <directory>Modules/*/tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
            <directory>Modules/*/tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
            <directory>Modules</directory>
        </include>
        <exclude>
            <directory>Modules/*/tests</directory>
            <directory>Modules/*/database</directory>
            <directory>Modules/*/resources</directory>
        </exclude>
    </source>
    <groups>
        <exclude>
            <group>slow</group>
        </exclude>
    </groups>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_KEY" value="base64:Wm3VPq0mWc2fM2xKq3oY8o7c1YwqQmS2yN6rT0hJk2E=" force="true"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="HASH_DRIVER" value="argon2id" force="true"/>
        <env name="ARGON_MEMORY" value="1024" force="true"/>
        <env name="ARGON_TIME" value="1" force="true"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array" force="true"/>
        <env name="DB_CONNECTION" value="pgsql" force="true"/>
        <env name="DB_DATABASE" value="reconflow_test" force="true"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync" force="true"/>
        <env name="SESSION_DRIVER" value="array" force="true"/>
        <env name="LOG_CHANNEL" value="null" force="true"/>
        <env name="INERTIA_SSR_ENABLED" value="false" force="true"/>
        <env name="PII_HASH_SALT" value="test-salt" force="true"/>
        <env name="DEMO_PASSWORD" value="Demo-Password-2026" force="true"/>
        <env name="SEED_DEMO_USERS" value="true" force="true"/>
        <env name="LOGIN_MAX_ATTEMPTS" value="5" force="true"/>
        <env name="SOURCE_SYSTEMS_DRIVER" value="local" force="true"/>
        <env name="AI_DRIVER" value="stub" force="true"/>
        <env name="ANTHROPIC_API_KEY" value="" force="true"/>
        <env name="SLACK_WEBHOOK_URL" value="" force="true"/>
        <env name="SOURCE_SYSTEMS_TOKEN" value="test-source-token" force="true"/>
        <env name="SOURCE_SYSTEMS_URL" value="http://sources.test" force="true"/>
        <env name="DEMO_AUTO_SEED" value="false" force="true"/>
        <env name="RECONFLOW_DISPLAY_TIMEZONE" value="Africa/Nairobi" force="true"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
